<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_PATH" value="${user.home}/logs/wslogin"/>
    <property name="STD_PATTERN"
              value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n"/>
    <property name="STD_PATTERN_STOUT"
              value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n"/>
    <property name="ROTATE_SUFFIX" value="%d{yyyyMMdd_HH}_%i.gz"/>
    <property name="MAX_HISTORY" value="720"/>
    <property name="MAX_FILE_SIZE" value="10MB"/>
    <property name="TOTAL_SIZE_CAP" value="250MB"/>

    <appender name="common" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/common/common.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/common/%d{yyyy-MM-dd}/common.${ROTATE_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${STD_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="errors" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/errors/errors.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/errors/%d{yyyy-MM-dd}/errors.${ROTATE_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${STD_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="warning" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/warning/warning.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/warning/%d{yyyy-MM-dd}/warning${ROTATE_SUFFIX}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${STD_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="common"/>
        <appender-ref ref="errors"/>
        <appender-ref ref="warning"/>
    </root>

</configuration>