<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_PATH" value="${user.home}/logs/wslogin"/>
    <property name="STD_PATTERN"
              value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n"/>

    <appender name="common" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STD_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.eustimenko.services.auth.exceptions.AuthControllerExceptionAdvice"
            level="DEBUG" additivity="false">
        <appender-ref ref="common"/>
    </logger>

    <logger name="com.eustimenko.services.auth.controller.AuthController"
            level="INFO" additivity="false">
        <appender-ref ref="common"/>
    </logger>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="ch.qos" level="ERROR"/>
    <logger name="org.apache.tomcat" level="ERROR"/>
    <logger name="de.flapdoodle" level="ERROR"/>


    <root level="ERROR">
        <appender-ref ref="common"/>
    </root>

</configuration>